:root {
  --jmu-gold: #cbb677;
  --jmu-purple: #450084;
  --carolina-blue: #7bafd4;
  --caroline-a11y: #4b9cd3;
  --daw-timeline-bg: #2d2c29;
  --daw-grey: rgba(129, 121, 104, 0.712);
  --daw-control: rgba(107, 107, 107, 0.8);
  /* --daw-scrubber: rgb(209, 46, 147); */
}

/* #waveform ::part(wrapper) {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(#444cf7 2px, transparent 2px),
    linear-gradient(90deg, #444cf7 2px, transparent 2px),
    linear-gradient(#444cf7 1px, transparent 1px),
    linear-gradient(90deg, #444cf7 1px, #e5e5f7 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(#444cf7 1px, transparent 1px),
    linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
  background-size: 20px 20px;

  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #444cf7 0,
    #444cf7 1px,
    #e5e5f7 0,
    #e5e5f7 50%
  );
} */

#waveform ::part(wrapper) {
  /* background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(#444cf7 2px, transparent 2px),
    linear-gradient(90deg, #444cf7 2px, transparent 2px),
    linear-gradient(#444cf7 1px, transparent 1px),
    linear-gradient(90deg, #444cf7 1px, #e5e5f7 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(#444cf7 1px, transparent 1px),
    linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
  background-size: 20px 20px;

  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #444cf7 0,
    #444cf7 1px,
    #e5e5f7 0,
    #e5e5f7 50%
  ); */

  /* background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    to right,
    #444cf7,
    #444cf7 1px,
    #e5e5f7 1px,
    #e5e5f7
  ); */

  /* --box-size: 10px;
  background-image: linear-gradient(
      transparent calc(var(--box-size) - 1px),
      rgb(202, 128, 198) var(--box-size),
      transparent var(--box-size)
    ),
    linear-gradient(
      90deg,
      transparent calc(var(--box-size) - 1px),
      rgb(228, 145, 224) var(--box-size),
      transparent var(--box-size)
    );
  background-size: 100% var(--box-size), var(--box-size) 100%; */

  background-color: var(--daw-grey);
}

#waveform {
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* border-radius: 8px; */
  background-color: var(--daw-grey);
  /* TODO @mfwolffe - have direction match container card? */
  filter: drop-shadow(0 0 24px #333);
}

#daw-card {
  margin-top: 2rem;
  filter: drop-shadow(16px 16px 20px #333);
  /* box-shadow: 0 0 4px 4px #333; */
}

#waveform ::part(cursor) {
  height: 100%;
  /* top: 3%; */
}

#waveform ::part(region) {
  background-color: rgba(0, 0, 100, 0.25) !important;
}

#waveform ::part(region-green) {
  background-color: rgba(0, 100, 0, 0.25) !important;
  font-size: 12px;
  text-shadow: 0 0 2px #fff;
}

#waveform ::part(marker) {
  background-color: rgba(0, 0, 100, 0.25) !important;
  border: 1px solid #fff;
  padding: 1px;
  text-indent: 10px;
  font-family: fantasy;
  text-decoration: underline;
}

#waveform ::part(region-handle-right) {
  border-right-width: 4px !important;
  border-right-color: #fff000 !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.mlr-a {
  margin-left: auto !important;
  margin-right: auto !important;
}

.gap-3 {
  gap: 3rem !important;
}

.gap-1 {
  gap: 1rem !important;
}

.gap-05 {
  gap: 0.5rem !important;
}

.gap-0375 {
  gap: 0.375rem !important;
}

.gap-025 {
  gap: 0.25rem !important;
}

.bg-dawgrey {
  background-color: var(--daw-grey);
}

.bg-dawcontrol {
  background-color: var(--daw-control);
}

.control-card {
  filter: drop-shadow(0 0 8px #333);
}

.prog-button {
  display: flex !important;
  align-self: center !important;
  flex-direction: row !important;
  justify-content: center !important;
  background-color: transparent !important;
  border: none;
  padding-left: 0;
  padding-right: 0;
  /* margin: 0 0 0 0 !important; */
  /* padding: 0 0 0 0.5rem !important; */
  /* height: fit-content !important; */
}

.prog-button:hover {
  color: aqua !important;
}

.prog-bar {
  background-color: var(--daw-timeline-bg) !important;
  max-height: 24px !important;
}

.mmap-container {
  background-color: var(--daw-control);
  /* max-height: 24px !important; */
  border-top: 2px solid #fff;
}

.toolbar {
  background-color: var(--daw-timeline-bg) !important;
  max-height: 24px !important;
  border-bottom: 2px solid #fff;
}

.float-right {
  float: right !important;
}

.spct-container {
  /* background-color: var(--daw-control); */
  border-top: 2px solid #fff;
  /* height: fit-content !important; */
}
