:root {
  --jmu-gold: #cbb677;
  --jmu-purple: #450084;
  --carolina-blue: #7bafd4;
  --caroline-a11y: #4b9cd3;
  --daw-timeline-bg: #2d2c29;
  --daw-grey: rgba(129, 121, 104, 0.712);
  --daw-control: rgba(107, 107, 107, 0.8);
  /* --daw-scrubber: rgb(209, 46, 147); */
}

#waveform ::part(wrapper) {
  --box-size: 10px;
  background-image: linear-gradient(
      transparent calc(var(--box-size) - 1px),
      /* rgb(74, 112, 107) var(--box-size), */ rgb(202, 128, 198)
        var(--box-size),
      transparent var(--box-size)
    ),
    linear-gradient(
      90deg,
      transparent calc(var(--box-size) - 1px),
      /* rgb(74, 112, 107) var(--box-size), */ rgb(228, 145, 224)
        var(--box-size),
      transparent var(--box-size)
    );
  background-size: 100% var(--box-size), var(--box-size) 100%;
}

#waveform {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: var(--daw-grey);
  /* TODO @mfwolffe - have direction match container card? */
  filter: drop-shadow(0 0 24px #333);
}

#daw-card {
  margin-top: 2rem;
  filter: drop-shadow(16px 16px 20px #333);
  /* box-shadow: 0 0 4px 4px #333; */
}

#waveform ::part(cursor) {
  height: 94%;
  top: 3%;
}

#waveform ::part(region) {
  background-color: rgba(0, 0, 100, 0.25) !important;
}

#waveform ::part(region-green) {
  background-color: rgba(0, 100, 0, 0.25) !important;
  font-size: 12px;
  text-shadow: 0 0 2px #fff;
}

#waveform ::part(marker) {
  background-color: rgba(0, 0, 100, 0.25) !important;
  border: 1px solid #fff;
  padding: 1px;
  text-indent: 10px;
  font-family: fantasy;
  text-decoration: underline;
}

#waveform ::part(region-handle-right) {
  border-right-width: 4px !important;
  border-right-color: #fff000 !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.mlr-a {
  margin-left: auto !important;
  margin-right: auto !important;
}

.gap-3 {
  gap: 3rem !important;
}

.bg-dawgrey {
  background-color: var(--daw-grey);
}

.bg-dawcontrol {
  background-color: var(--daw-control);
}

.control-card {
  filter: drop-shadow(0 0 8px #333);
}
